.Task {
  height: 4.5rem;
  width: 46rem;
  display: flex;
  justify-content: space-between; /* Espaça os itens entre os extremos */
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--gray-500);
}

.Content {
  display: flex;
  align-items: center; /* Alinha o checkbox e o texto verticalmente */
  gap: 1rem;
}

.checkbox {
  display: none; /* Esconde o checkbox padrão */
}

.checkboxLabel {
  width: 1.5rem; /* Define a largura fixa */
  height: 1.5rem; /* Define a altura fixa */
  background-color: none;
  border: 2px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.checkbox:checked + .checkboxLabel {
  background-color: var(--purple-dark);
}

.checkboxLabel::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 60%;
  width: 10px;
  height: 10px;
  border: none;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.1s ease-in;
}

.checkbox:checked + .checkboxLabel::after {
  border: none;
  content: '✔'; /* Adiciona o símbolo de check */
  color: white; /* Cor do símbolo de check */
  font-size: 10px; /* Tamanho do símbolo de check */
  transform: translate(-50%, -50%) scale(1);
}

.removeButton {
  border: none;
  padding: 0; /* Remove o padding */
  background: none; /* Remove o fundo */
  cursor: pointer;
}

.removeButton svg {
  fill: var(--gray-300);
  display: block;
  width: 2rem;
  height: 1.2rem;
  transition: filter 0.2s ease-in-out; /* Adiciona uma transição suave */
}

.removeButton:hover svg {
  transition: 0.1s;
  fill: var(--danger); /* Muda a cor do ícone ao passar o mouse */
}

.sublined {
  text-decoration: line-through;
}